/**
 * @file
 * Novaliguria theme specific CSS.
 */

/* Poppins e Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300;400;600;700&display=swap');

/* Graphie */
@font-face {
    font-family: 'graphiesemibold';
    src: url('../fonts/graphie/graphie-semibold-webfont.woff2') format('woff2'),
         url('../fonts/graphie/graphie-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'graphieregular';
    src: url('../fonts/graphie/graphie-regular-webfont.woff2') format('woff2'),
         url('../fonts/graphie/graphie-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  