<div id="sezionePPT">
  <div class="titolo">{{ children.titolo }}</div>
  <div class="separator"><hr /></div>
  <div class="contenuti">{{ children.elementi_ppt }}</div>
  <div class="text-center">
      <button id="ppt-button" class="btn-liguria bg-yellow color-purple fw-bold">
        <a href="" class="color-purple" style="text-decoration:none">VEDI TUTTI</a>
      </button>
  </div>
</div>
